<a class="item">
  Chatroom
</a>
<a class="item">
  Messages
</a>
<div class="right menu">
  <% if (true) %>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui button" %>
    </div>
    <div class="item">
      <div class="ui primary button">Sign Up</div>
    </div>
  <% else %>
    <div class="item">
      <div class="ui button">Log out</div>
    </div>
  <% end %>
</div>